{% load el_pagination_tags %}
{% load martortags %}

{% paginate current_upcoming %}
{% for e in current_upcoming %}<div class="card {% if e.cancel %}cancel{% endif %}">
    <div class="card-segment">
        {% if e.banner %}
            <a href="{% url 'cal:event_detail' e.slug %}"><div class="card-img"><div style="background-image:url({{e.banner.url}})"></div></div></a>
        {% elif e.module.banner.url %}
            <a href="{% url 'cal:event_detail' e.slug %}"><div class="card-img"><div style="background-image:url({{e.module.banner.url}})"></div></div></a>
        {% endif %}
        <h2 class="card-segment-head"><a href="{% url 'cal:event_detail' e.slug %}">{{e.title}}</a></h2>
        {% if e.day %}
            <h4>
            {{e.day | date:"D M j" }}{% if e.start %}, {{e.start | time:"g:i"}}{% if e.end %}–{{e.end | time:"g:i"}}{% endif %}{% endif %}
            </h4>
        {% endif %}
        <hr>
        <div class="card-segment-body">
        {{ e.desc|truncatewords:30|safe_markdown }}
            <div class="card-button-list">
                <ul>
                    {% if e.module %}
                        <a href="{% url 'tutorials:module' e.module.slug %}"><li>Tutorial ></li></a>
                    {% endif %}
                    {% if e.virtual_url %}
                        <a href="{{ e.virtual_url }}"><li>Zoom ></li></a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>{% endfor %}
{% show_more %}