{% extends "main/base.html" %}
{% load martortags %}

{% block content %}
<div class="row section">
    <div class="col-12">
        {% if reading_meta %}
            <h1>{{reading_meta.name}}</h1>
        {% else %}
            <h1>Reading Lists</h1>
        {% endif %}

        {% if reading_meta %}
            <p>{{reading_meta.desc}}</p>
        {% endif %}

        <hr></hr>
        {% if reading_lists %}
            <ul>
                {% for r in reading_lists %}
                    <div class="card card-left mb-3">
                        <div class="row no-gutters">
                            {% if r.banner %}
                            <div class="col-md-4">
                                <a href="{% url 'reading:reading_list' r.id %}"><img class="card-img-top" src="{{r.banner.url}}" alt="Card image cap"></a>
                            </div>
                            {% endif %}
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'reading:reading_list' r.id %}">{{r.title}}</a></h5>
                                    <hr></hr>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                    {% for a in r.author.all %}
                                        <a href="{% url 'people:person' a.id %}">{{ a.full_name }}</a>
                                    {% endfor %}
                                    </h6>
                                    <p class="card-text">{{r.desc|safe_markdown|truncatewords:20}}</p>
                                    <ul class="skillsoft">
                                        <li>
                                            <a href="https://www.zotero.org/groups/{{r.library_id}}/vialearninglab/items/{% if r.collection_key %}collectionKey/{{r.collection_key}}{% endif %}">Open in Zotero</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reading lists.</p>
        {% endif %}
    </div>
</div>

{% endblock %}