{% extends "main/base.html" %}
{% load martortags %}
{% load icons %}
{% load counter_filter %}

{% block content %}

{% if reading_list %}
{% if reading_list.banner %}
<div class="hero" style="background-image: url({{reading_list.banner.url}});">
{% else %}
<div class="hero" style="box-shadow:none;">
{% endif %}
<div class="long-title card gradient">
    <div class="card-segment">
        <div id="supertitle">
            Modified {{reading_list.modified_at.date }} | Created {{ reading_list.created_at.date }}
        </div>
        <h1 id="title">{{ reading_list.title }}</h1>
        <hr>
        <div class="authors">
            {% for i in reading_list.author.all %}<div class="instructor"><div class="instructor-xs-photo">
                    {% if i.photo %}
                        <a href="{% url 'people:person' i.slug %}"><img src="{{ i.photo.url }}"/></a>
                    {% endif %}
                </div><div class="instructor-info">
                    <ul>
                        {% if i.full_name %}<li><h3><a href="{% url 'people:person' i.slug %}">{{ i.full_name }}{% if i.cred == 'PhD' %}, {{i.cred}} {% endif %}{% endif %}
                        {% if i.pronouns %}({{ i.get_pronouns_display }}){% else %}{% endif %}</li></a></h3>
                        {% if i.affiliation.first.title %}<li>{{ i.affiliation.first.title }}</li>{% endif %}
                        {% if i.email %}<li><a href="mailto:{{ i.email }}">{{ i.email }}</a>{% endif %}
                    </ul>
                </div>
            </div>{% endfor %}
        </div>
    </div>
</div>
{% endif %}
</div>

<div class="long-content">

<p>{{reading_list.desc}}</p>
<div class="csl-list">
<h2>References</h2>
<hr>
{% for ref in reading_list.list_html.ref_list %}
    <div class="csl-ref">
    {% comment %} {% for ref in value %} {% endcomment %}
    {% with meta=reading_list.list_html.metadata|index:forloop.counter0 %}  
        {{ref|safe}}
        <div class="csl-desc">{{meta.data.extra}}</div>
    {% endwith %}
    {% comment %} {% endfor %} {% endcomment %}
        {% comment %} {% for sub_key, sub_value in value.items %}
            {% if value|length == 1 %}
                {% for ref in sub_value %}
                    <div>{{ref|safe}}</div>
                {% endfor %}
            {% else %}
                <h3>{{sub_key}}</h3>
                {% for ref in sub_value.contents %}
                    <div>{{ref|safe}}</div>
                {% endfor %}
            {% endif %}
        {% endfor %} {% endcomment %}
    </div>
{% endfor %}
<hr>
</div>
</div>
</div>



{% endblock %}