{% extends "main/base.html" %}
{% load martortags %}
{% load icons %}

{% block content %}
{% if person.photo %}
<div class="hero" style="background-image:url({{person.photo.url}});">
{% else %}
<div class="hero" style="box-shadow:none;">
{% endif %}
    <div class="long-title card hawt">
        <div class="card-segment person-details">
            <div class="md-photo">
                {% if person.photo %}
                    <img src="{{ person.photo.url}}"/>  
                {% endif %}
            </div>
            <div class="person-info">
            <h1 id="title">{{ person.full_name }}{% if person.cred == 'PhD' %}, {{person.cred}} {% endif %}</h1>
            <h4 id="subtitle">{{ person.get_title_display }}, VIA Learning Lab</h4>
            {% if person.pronouns %}
                <h4>{{ person.get_pronouns_display}}*
            {% endif %}
            <hr>
            {% if person.email %}
                <a href="mailto:{{ person.email }}"><code>{{person.email}}</code></a></h4>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card-array"> 
    <div class="sidebyside card hawt">
        <div class="card-segment">
            <h2 class="card-segment-head">
                Affiliations
            </h2>
            <hr>
            {% for a in person.affiliation.all %}
                <h3><a href="{{a.website}}">{{a.title}}</a>
                <h4>{{a.institution.dept}}, {{a.institution.inst}}</h4>
            {% endfor %}
            <div class="card-segment-body">
                {% if class_instance.sessions %}
                    {% for s in class_instance.sessions.all %}
                        {% for d in s.days.all %} 
                            {{d.abbrev}} 
                        {% endfor %}
                        {{s.start|time:"h:i"}}-{{s.end|time:"h:i"}} ({{s.session_type.first.get_form_display}})
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="card-segment">
            <div class="card-button-list">
                <ul>
                    {% if class_instance.canvas %}
                    <a href="{{ class_instance.canvas }}"><li>Canvas ></li></a>
                    {% endif %}
                    {% if class_instance.dept_site %}
                    <a href="{{ class_instance.dept_site }}"><li>{{class_instance.cl.institution.short}} ></li></a>
                    {% endif %}
                    {% if class_instance.syllabus %}
                    <a href="{{ class_instance.syllabus.url }}"><li>Syllabus ></li></a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><div class="sidebyside card hawt">
        <div class="card-segment">
            <h2 class="card-segment-head">
                Social
            </h2>
            <hr>
            <div class="card-segment-body">
                {% if person.orcid %}
                    <span><a href="https://orcid.org/{{ person.orcid }}"><i class="ai ai-orcid ai-lg"></i></a></span>
                {% endif %}
                {% if person.zotero %}
                    <span><a href="http://zotero.com/{{ person.zotero }}"><i class="ai ai-zotero ai-lg"></i></a></span>
                {% endif %}
                {% if person.twitter %}
                    <span><a href="https://twitter.com/{{person.twitter}}"><i class="fab fa-twitter fa-lg"></i></a></span>
                {% endif %}
                {% if person.linkedin %}
                    <span><a href="https://linkedin.com/in/{{ person.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a></span>
                {% endif %}
                {% if person.gitlab %}
                    <span><a href="https://gitlab.com/{{ person.gitlab }}"><i class="fab fa-gitlab fa-lg"></i></a></span>
                {% endif %}
                {% if person.github %}
                    <span><a href="https://github.com/{{ person.github }}"><i class="fab fa-github fa-lg"></i></a></span>
                {% endif %}
            </div>
        </div>
        <div class="card-segment">
            <div class="card-button-list">
                <ul>
                    {% if person.vita %}
                    <a href="{{ person.vita.url }}"><li>Vita ></li></a>
                    {% endif %}
                    {% if person.website %}
                    <a href="{{ person.website }}"><li>Website ></li></a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% if person.bio %}
<div class="long-content">
    {{ person.bio|safe_markdown }}
    <hr>
</div>
{% endif %}

{% endblock %}